.nav{
    background-color: rgb(24, 24, 24); 
    color: white; 
    height: 8vh; 
    display: flex;
    justify-content: space-around; 
    padding: 10px;
    align-items: center;
}
.content{
    display: flex; 
    gap: 8px;
}
#nav-button{
    font-weight: 700;
    padding: 6px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}
#nav-button:hover{
    background-color: #444;
}
#sign{
    border-radius: 5px; 
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.4s ease;
    padding: 5px;
}
#sign:hover{
    background-color: #2c662e;
    transform: scale(1.1);
}
.card{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
}
.format{
    border-radius: 10px; 
    width: 300px; 
    background-color: rgb(72, 29, 226); 
    box-shadow: 0 4px 10px rgba(20, 2, 2, 0.426); 
    overflow: hidden;
}
#mark{
    border-radius: 10px; 
    padding: 2px 10px; 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    background-image: linear-gradient(to right, red, orange); 
    color: aliceblue; 
    font-weight: 700;
}
#head{
    margin: 5px 10px; 
}
#data{
    margin: 5px 10px; 
    color: rgb(168, 247, 196)"
}
.foot{
    display:flex; 
    align-items: center; 
    justify-content: space-between;
}
#img{
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin: 10px 5px 10px 10px;
}
#name{
    font-weight: 700; 
    color: black; 
}
.cont{
    background-color: blue;
    display: flex;
    justify-content:space-evenly;
    border-radius: 10%;
    border-width: 5px;
    border-color: black;
    border-style: dotted;
    height:500px;
    width:500px;
    align-items: center;
    margin-left: 450px;
    margin-top: 70px;

}
#boxone{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border:5px solid black;
    padding: 5px;   
    font-size: 20px;
}
#boxtwo{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border:5px solid black;
    padding: 5px;   
    font-size: 20px;
}
#boxthree{
    height: 100px;
    width: 100px;
    background-color: green;
    border:5px solid black;
    padding: 5px;   
    font-size: 20px;
}
